# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# native
*.orig
*.log

# macOS
.DS_Store

# environment
.env
.env.local

# TypeScript
*.tsbuildinfo



# Metro
.metro-health-check*

# debug
npm-debug.log*


# IDE
.vscode/
.idea/